# Disable source control of all files by default.
*

# Explicitly add configuration files that we wish to save.
!.bash_aliases
!.gitignore
!.gitconfig
!.zshrc
!.vimrc
!.oh-my-zsh/themes/candy2.zsh-theme
!.pryrc
!Library/Application\ Support/Sublime\ Text\ 3/Packages/User/Default\ \(OSX\).sublime-keymap
!Library/Application\ Support/Sublime\ Text\ 3/Packages/User/Preferences.sublime-settings
